In [1]:
import psycopg2 as pg2
import datetime as datetime
import pandas as pd

In [6]:
df = pd.read_csv('LBMP Compiled.csv', header=0, keep_default_na=False, na_values='.')

In [8]:
df.head()

     Date  Hour Zone Name   LBMP
0  8/6/14     0    CAPITL  27.35
1  8/6/14     1    CAPITL  23.19
2  8/6/14     2    CAPITL  20.53
3  8/6/14     3    CAPITL  19.79
4  8/6/14     4    CAPITL  20.18

In [10]:
hours = df.Hour.unique()

In [11]:
hours

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [13]:
zones = df["Zone Name"].unique()

In [14]:
zones

array(['CAPITL', 'CENTRL', 'DUNWOD', 'GENESE', 'H Q', 'HUD VL', 'LONGIL',
       'MHK VL', 'MILLWD', 'N.Y.C.', 'NORTH', 'NPX', 'O H', 'PJM', 'WEST'], dtype=object)

In [21]:
df['DateOfYear'] = str(df['Date'])[:-3]

,Date,Hour,Zone Name,LBMP,DateOfYear
0,8/6/14,0,CAPITL,27.35,0 8/6/14\n1 8/6/14\n2 ...
1,8/6/14,1,CAPITL,23.19,0 8/6/14\n1 8/6/14\n2 ...
2,8/6/14,2,CAPITL,20.53,0 8/6/14\n1 8/6/14\n2 ...
3,8/6/14,3,CAPITL,19.79,0 8/6/14\n1 8/6/14\n2 ...
4,8/6/14,4,CAPITL,20.18,0 8/6/14\n1 8/6/14\n2 ...

In [18]:
stro[:-1]

'String'

In [32]:
days = df.Date.unique()